<div id="bio">
  <h1>Hi, I'm Allen</h1>
  <span>I'm a UC Davis graduate who loves to code and learn about coding practices.</span>
  <br>
  <p>My background is a bit different from most developers. While I graduated with a B.S in Neurobiology, Physiology, and Behavior, my passion is in coding and all things tech. One of the major draws for me is the accessibility for anyone with a connection to the internet. This principle of accessibility is a relatively recent phenomenon that still doesn't truly exist in traditional fields of science, where typically, a large amount of resources are needed to create and contribute. Luckily, this is changing due to advances in technology. My belief is as technology becomes more ubiquitous, it will be more capable of solving (rather than patching) major global issues.
  </p>
  <p>
  It's a beautiful world we live in;  anyone that is willing to learn code and put in the man-hours can contribute a piece of software to the community. While it's a long journey for self-learning and development, I would eventually like to combine the two fields and work on AI R&D. 
  </p>
  <br>
  <span>Some tools I know...</span>
    <br>    
    <img src="/app/assets/logos/html5@2x.png" alt="html" width="65px" height="65px" >
    <img src="/app/assets/logos/css3@2x.png" alt="css" width="65px" height="65px">
    <img src="/app/assets/logos/js@2x.png" alt="javascript" width="65px" height="65px">
    <img src="/app/assets/logos/jquery@2x.png" alt="jquery" width="65px" height="65px">
    <img src="/app/assets/logos/angular@2x.png" alt="angular" width="65px" height="65px">
    <img src="/app/assets/logos/ps@2x.png" alt="photoshp" width="65px" height="65px">
    <img src="/app/assets/logos/illustrator@2x.jpg" alt="illustrator" width="65px" height="65px">
    <img src="/app/assets/logos/Zhongwen.png" alt="chinese" width="115px" height="65px">
</div>

<div class="contact">
  <h1>Have any inquiries or comments?</h1>
  <p>There are a couple ways to get in contact with me listed below.</p>
  <br>
  <a href="mailto:apguan@gmail.com" class="contact_info"><img src="/app/assets/logos/email.png" alt="email" width="55px" height="55px"></a>
  <a href="https://www.linkedin.com/in/aguan30" target="_blank" class="contact_info"><img src="/app/assets/logos/linkedin.png" alt="linkedin" width="50px" height="50px"></a>
  <a href="https://www.github.com/apguan" target="_blank" class="contact_info"><img src="/app/assets/logos/github.png" alt="github" width="50px" height="50px"></a>
</div>