<div id="bio">
  <h1>Hi, I'm Allen</h1>
  <span>I'm a Neurobiology graduate who loves to code and learn about coding practices</span>
  <br>
  <p>My background is a bit different from most developers. While I graduated with a degree in Neurobiology, Physiology, and Behavior, my passion is in coding and all things tech. One of the major draws for me is the accessibility for anyone with a connection to the internet. This idea of accessibility is a recent phenomenon that still doesn't truly exist in traditional fields of science, where typically, a large amount of funding is needed to create and contribute. Luckily, this is changing due to advances in technology. It's a beautiful world we live in, where anyone that is willing to learn to code and put in the man-hours can contribute a piece of software to the community. While it's a long journey for self-learning and development, I would eventually like to combine the two fields and work on AI R&D. 
  <br><br>
  <span>Some languanges/frameworks I know...</span>
  	<ul id="languages">
  		<li>HTML/CSS</li>
  		<li>Javascript</li>
        <ul>
          <li>Angularjs</li>
          <li>jQuery</li>
          <li>Node.js</li>
        </ul>
  		<li>Mandarin</li>
      <li>keine Deutsche</li>  
  	</ul>
</div>

<div class="contact">
  <h1>Have any inquiries or comments?</h1>
  <p>There are a couple ways to get in contact with me listed below.</p>
  <br>
  <a href="mailto:apguan@gmail.com">Email me!</a>
  <br>
  <a href="https://www.linkedin.com/in/aguan30" target="_blank">My Linkedin!</a>
  <br>
  <a href="https://www.github.com/apguan" target="_blank">My Git!</a>
</div>