<div id="projects">
    <h3>Projects</h3>
    <span>Here are some project's I've done so far</span>
    <br><br>
    <div id="hackathon">
        <span><a href="http://devpost.com/software/pride">Pride</a></span>
        <p>Pride is a project that I worked on to help Teach for America tackle the challenge teachers face when creating lesson plans. It uses IBM's Watson to help parse through data and allows teachers to give feedback to one another. It won not only Best Education Tool, but also Best Use of Cisco Spark at HackDavis. Currently, we are revamping the project to be a MEAN stack project. The goal is to create and open-source app to help teachers provide the best learning experience possible.</p>
    </div>
    <br>  
</div>


<div id="codepen">
  <span>Some Other Projects</span>
    <p>Below are some examples of some projects I've done for fun! They're the projects I've worked on to learn the basics and experiment with new coding methods. Besides...there's no better way than to just do!
    </p>
    <br>
    <a href="http://codepen.io/apguan">My Codepen</a>
    <br><br>
    <div class="examples">
      <h5>jQuery Calculator</h5>
        <a href="http://codepen.io/apguan/pen/zBvMdJ" target="_blank"><img src="assets/jquerycalc.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
        <br><br>
        <h5>Clock</h5>
        <a href="http://codepen.io/apguan/pen/beeQzd" target="_blank"><img src="assets/clock.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.
        </p>
        <br><br>
        <h5>Wiki Search</h5>
        <a href="http://codepen.io/apguan/pen/YqRyqN" target="_blank"><img src="assets/wikisearch.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
        <br><br>
        <h5>WikiQuotes</h5>
        <a href="http://codepen.io/apguan/pen/bpxqMB" target="_blank"><img src="assets/wikiquotes.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
    </div>
</div>