<div id="codepen">
  <span><b>Some Other Projects</b></span>
    <p>Below are some examples of projects I've done for fun! They're the projects I've worked on to learn the basics while experimenting with new coding methods. Like the saying goes...there's no better way than to just do!
    </p>
    <br>
    <a href="http://codepen.io/apguan">My Codepen</a>
    <br><br>
    <div class="examples">
      <h5>jQuery Calculator</h5>
        <a href="http://codepen.io/apguan/pen/zBvMdJ" target="_blank"><img src="/app/assets/jquerycalc.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
        <br><br>
        <h5>Clock</h5>
        <a href="http://codepen.io/apguan/pen/beeQzd" target="_blank"><img src="/app/assets/clock.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.
        </p>
        <br><br>
        <h5>Wiki Search</h5>
        <a href="http://codepen.io/apguan/pen/YqRyqN" target="_blank"><img src="/app/assets/wikisearch.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
        <br><br>
        <h5>WikiQuotes</h5>
        <a href="http://codepen.io/apguan/pen/bpxqMB" target="_blank"><img src="/app/assets/wikiquotes.png" alt="material calculator" height="40%" width="40%" class="images"></a>
        <p>This is a calculator using jQuery. While working on this, I kept the goal of writing cleaner code in mind.</p>
    </div>
</div>