<div id="projects">
    <h3>Projects</h3>
    <span>Here are some project's I've done so far</span>
    <br><br>
    <div id="hackathon">
        <span><a href="http://devpost.com/software/pride"><b>Pride Softwares</b></a></span>
        <p>Pride is a project that I worked on to help Teach for America tackle the challenge teachers face when creating lesson plans. It uses IBM's Watson to help parse through data and allows teachers to give feedback to one another. It wasn't all buttery smooth though! We had some challenges along the way. Originally, we wanted to create the project using a MEAN stack because of all the CRUD operations (no one on the team had done this before). Eventually, we decided we would figure it out some other time, and build it with python. In the end won not only Best Education Tool, but also Best Use of Cisco Spark at HackDavis.
        </p> 
        <span><b>Now What?</b></span>
        <p>Currently, we are revamping the project to entirely use a MEAN stack. The goal is to create and open-source app to help teachers provide the best learning experience possible. Learning Angular.js and Node.js in the short months has been challenging but super fun!
        </p>
    </div>
    <br>  
</div>
