<div id="projects">
    <h1>Projects</h1>
    <span>Here are some project's I've done so far</span>
    <br><br>
    <div id="hackathon">
        <span><a href="http://devpost.com/software/pride" target="_blank"><b>Pride Softwares</b></a></span>
        <p>Pride is a hackathon project built at HackDavis 2016 to help Teach for America tackle the challenge teachers face when creating lesson plans. It uses IBM's Watson to help parse through data and allows teachers to give feedback to one another. The build wasn't all buttery smooth though! We had some challenges along the way. Originally, we wanted to create the project using a MEAN stack because of all the CRUD operations (no one on the team had done this before). Eventually, we decided we would figure it out some other time, and build the front-end with static HTML and the back-end with Python. In the end won not only Best Education Tool, but also Best Use of Cisco Spark at HackDavis.
        </p> 
        <div class="now-what">
            <span><b>Now What?</b></span>
            <p>Currently, we are revamping the project to entirely use a MEAN stack. The goal is to create and open-source app to help teachers provide the best learning experience possible. Learning Angular.js and Node.js in the short months has been challenging but super fun!
            </p>
        </div>
    </div>
    <br><br>
    <div id="electric-longboard">
        <span><a href="http://imgur.com/gallery/kPzcQ/comment/315300549" target="_blank"><b>Electric Longboard</b></a></span>
        <p>So this is more of a personal project that I'm excited to share. Ever since I was a kid, I've wanted a motorized longboard. Do you remember the lawnmower engine-powered skateboards from the 90s? If you do, you'll remember how impractical and terribly loud they were. Now, with high-powered brushless motors, it's easier than ever to mount an electric motor onto a longboard. The controller for the board is a Wii-mote, which has been hacked to connect to an Arduino, which acts as a bluetooth receiver for the electronic speed controller (ESC). The benefits were obvious over a stock controller. It meant a fully customized ESC that can sense changes in terrain and adjusts for power automatically, and one top of that, something sleek and pocketable. The instructions were written in Python, a first for me, but most definitely not the last time (working on getting better). Other than coding, I had to figure out how to wire everything together, and build the deck using composites. 
        </p> 
        <div class="now-what">
            <span><b>Now What?</b></span>
            <p>A limitation of most electric longboards is they're either one-wheel-drive or two-wheel-drive, but only on one side of the board (usually the back). This means traction could be an issue when wet. Why not mount torsen limited-slip-differentials (LSD)? The theory behind a torsen LSD is to use a combination of gears to split the torque to the wheels. The best part is the wheel with the most amount of grip would receive the most torque. This would be great, to be able to split the power of one motor between two wheels, but why not double that and create a highly efficient all-wheel-drive electric longboard??
            </p>
        </div>
    </div>
</div>
<br>

<div id="codepen">
  <h1>Some Other Projects</h1>
    <p>Below are some examples of projects I've done for fun! They're the projects I've worked on to learn the basics while experimenting with new coding methods. Like the saying goes...there's no better way than to just do!
    </p>
    <br>
    <a href="http://codepen.io/apguan">My Codepen</a>
    <br><br>
    <div class="examples">
        <div ng-repeat="stuff in pictures">
            <span ng-mouseover = "hoverIn()" ng-mouseleave = "hoverOut()">
                <span><h5 ng-show="edit" class="fadetransition">{{stuff.name}}</h5></span>
                <a href="{{stuff.link}}" target="_blank"><img src="{{stuff.url}}" height="50%" width="50%" class="images"></a>
            </span>

        </div>
    </div>
</div>


